.pdf-container {
  max-width: 800px; 
  width: 100%;
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #3C4D7A; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white; 
  height: 250px;
}

.pdf-download__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.pdf-download__text {
  font-size: 18px;
  font-weight: bold;
  color: #3C4D7A; 
}

.pdf-download__icon svg {
  width: 100%; 
  height: 100%;
}

.pdf-download {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 400px;
  width: 100%;
}
 
.pdf-download:hover {
  background-color: #e0e0e0;
}

.pdf-head-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-statutes-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.pdf-download {
  margin: 0 auto;           
}


.pdf-statutes-link:link,
.pdf-statutes-link:visited,
.pdf-statutes-link:hover,
.pdf-statutes-link:active,
.pdf-statutes-link:focus {
  text-decoration: none;    
  color: inherit;
}
