.BlogCard {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.048) 0px 5px 15px;
  margin: 5px;
}  

.BlogImg {
  max-height: 250px; 
  width: auto; 
  object-fit: cover; 
} 

.blogcard-link{
  text-decoration: none;
  margin-left: 15px;
}

.text-multiline-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}